{% extends "layouts/content.html" %} 

{% block content %}

<h2>修改密码</h2>

<form action="/users/{{account.id}}/password">
  <div class="form-group">
    <label for="userCurrentPassword">当前密码</label>
    <input type="password"
    class="form-control"
    id="userCurrentPassword"
    name="user[currentPassword]">

    {% if errors.notAuthenticated %}
    <div class="form-errortext">{{errors.notAuthenticated}}</div>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="userPassword">新密码</label>
    <input type="password"
    class="form-control"
    id="userPassword"
    name="user[password]">
    <small class="form-text text-muted">8-20个字符，不能使用空格、表情符号</small>
  </div>
  <div class="form-group">
    <label for="userPasswordConfirmation">再次输入新密码</label>
    <input type="password"
    class="form-control"
    id="userPasswordConfirmation"
    name="user[passwordConfirmation]">
  </div>
  
  <button type="submit" class="btn btn-primary">保存密码</button>
  <a href="/password-reset">忘记密码？</a>
</form>
{% endblock %}